body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #809bce;
}

header {
    padding: 30px;
    background-image: linear-gradient(to right, #d6eadf, #b8e0d2, #95b8d1);
    color: #809bce;
}

header h2 {
    color: #95b8d1;
}

footer {
    background-image: linear-gradient(#b8e0d2, white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #809bce;
}

#reserveButton {
    background-color:#eac4d5;
    color: #95b8d1;
}
.navbar-toggler {
    margin-left: auto;
}

.accordion-button {
    background-color: #d3d3d3;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid #95b8d1;
}